/*Dark CSS. Dan Moraru & Marko Litovchenko*/

/*Zig Zag Borders by Parvat Computer Technology: https://youtu.be/urYtvBmxMVE */
#zigzag {
  background: linear-gradient(47.5deg, rgb(0, 80, 0) 25%, transparent 25%),
    linear-gradient(-132.5deg, rgb(0, 80, 0) 25%, transparent 25%);
}

.zigzag {
  background: linear-gradient(45deg, rgb(0, 80, 0) 25%, transparent 25%),
    linear-gradient(-45deg, rgb(0, 80, 0) 25%, transparent 25%),
      linear-gradient(135deg, rgb(0, 130, 0) 25%, transparent 25%),
        linear-gradient(-135deg, rgb(0, 130, 0) 25%, transparent 25%);
}

#specialZigzag {
  grid-column: 1/17;
  grid-row: 1/17;
  background: linear-gradient(65deg, rgb(0, 80, 0) 25%, transparent 25%),
    linear-gradient(-65deg, rgb(0, 80, 0) 25%, transparent 25%),
      linear-gradient(164.5deg, rgb(0, 130, 0) 25%, transparent 25%),
        linear-gradient(-164.5deg, rgb(0, 130, 0) 25%, transparent 25%);
}

#zigzagRecipe {
}

body {
  background-color: #23272A;
}

header {
  background-color: #2C2F33;
  /*border: 2px solid blue;*/
}

nav {
  background-color: #2C2F33;
}

/*put the main a class*/
/*main form{
  grid-column: 4 / 8;
  grid-row: 2 / 10;
  border: solid black 2px;
  margin: 50px;
  text-align: center;
}*/

#purchase {
  background-color: #d3d3d3;
}

#orderText {
  background-color: darkgreen;
}

#orderText h1 {
  color: white;
}
.greenBorder {
  border: 3px solid darkgreen;
}

#orderTextAndPurchase {
  background-color: #d3d3d3;
  border-right: 50px solid darkgreen;
  border-left: 50px solid darkgreen;
}
#orderPrices {
  border: 3px solid darkgreen;
  background-color: white;
}

hr {
  border-right: 100px solid white;
  border-left: 100px solid white;
}

#mainOrder {
  background: hsla(210, 6%, 20%, 1);
  background: radial-gradient(
    circle,
    hsla(210, 6%, 20%, 1) 0%,
    hsla(125, 64%, 29%, 1) 100%
  );
}

#submitButton {
  color: white;
  background-color: darkgreen;
}

.centerTop {
  color: rgb(0, 177, 0);
}

#specific {
  color: black;
}

main form p {
  color: black;
}

#submitButton:hover {
  background-color: rgb(0, 177, 0);
}
#submitButton:active {
  background-color: rgb(0, 150, 0);
}

footer {
  background-color: #2C2F33;
}

button {
  background-color: #d3d3d3;
}

button:hover {
  color: rgba(0, 235, 0, 1);
}

button:active {
  background-color: rgba(0, 120, 0, 1);
}

a:hover {
  color: rgba(0, 255, 0, 1);
}

#insideButton {
  color: white;
  font-size: 30px;
  font-family: word;
  border: white solid 5px;
  padding: 10px;
}

#insideButton:hover {
  color: lime;
  border: green solid 5px;
}

#insideButton:active {
  color: green;
  border: darkgreen solid 5px;
}

.greenTitle {
  color: rgb(0, 177, 0);
}

dl {
  border: solid white 10px;
  padding: 20px;
  margin: 0px;
}

a,
h1,
p,
td,
li,
dd,
figcaption {
  color: white;
}

.white {
  color: white;
}

a:active {
  color: rgba(0, 120, 0, 1);
}

#logoHead {
  background-color: #2C2F33;
  border-right: #2C2F33 solid 50px;
}

/*h1 inspired by CW Joe: https://youtu.be/Ot5bBiy1cb4 */

#l1 {
  background: -webkit-linear-gradient(
    hsla(131, 100%, 15%, 1) 0%,
    hsla(131, 100%, 22%, 1) 46%,
    hsla(131, 100%, 32%, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 100px lime;
}

#quizStart p:hover {
  color: lime;
  border: darkgreen solid 3px;
  background-color: #909090;
}

#quizStart p:active {
  color: green;
}

.righty table {
  border: 15px solid white;
}

#quizMain form {
  background-color: beige;
  border: 2px solid rgb(0, 200, 20);
  border-radius: 20px;
}

#quizStart p {
  border: black solid 3px;
}

.quizInputStyle:hover {
  border: 5px solid lime;
}

.quizInputStyle:active {
  border: 5px solid rgb(0, 120, 0);
}

.quizInputStyle[value] {
  font-size: 30px;
  color: white;
  font-weight: bold;
  font-family: word;
}

.quizInputStyle {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.quizInputStyle:hover {
  background-color: rgb(20, 250, 40);
}

#bottomRightQuestion2 input {
  background-color: #32de84;
}
#bottomLeftQuestion2 input {
  background-color: #568203;
}
#topRightQuestion2 input {
  background-color: #17B169;
}
#topLeftQuestion2 input {
  background-color: #66FF00;
}

.quizInputStyle2:hover {
  border: 5px solid lime;
}

.quizInputStyle2:active {
  border: 5px solid rgb(0, 120, 0);
}

.quizInputStyle2[value] {
  font-size: 30px;
  color: white;
  font-weight: bold;
  font-family: word;
}

.quizInputStyle3[value] {
  font-size: 10px;
  color: black;
  font-weight: bold;
  font-family: word;
}

.quizInputStyle3:hover {
  border: 5px solid lime;
}
.quizInputStyle3:active {
  border: 5px solid rgb(0, 120, 0);
}

#quizEnd p {
  font-size: 25px;
  color: black;
  font-weight: bold;
}

#black:hover {
  color: lime;
}

#black:active {
  color: green;
}

#black {
  color: black;
}

#topRightSeparator{
  background-color: rgb(0, 80, 0);
}
#middleRightSeparator{
  background-color: rgb(0, 80, 0);
}
#bottomRightSeparator{
  background-color: rgb(0, 80, 0); 
}
#topLeftSeparator{
  background-color: rgb(0, 80, 0);
}
#middleLeftSeparator{
  background-color: rgb(0, 80, 0);
}
#bottomLeftSeparator{
  background-color: rgb(0, 80, 0); 
}