/*Main CSS. Dan Moraru & Marko Litovchenko*/
html {
  height: 100%;
}

@font-face {
  font-family: warFont;
  src: url(https://cdn.glitch.me/536f4a60-7027-4969-bb7b-dc4f746a8da3%2FScorchedearth-4Ljp.otf?v=1635298581003);
}

@font-face {
  font-family: word;
  src: url(https://cdn.glitch.me/536f4a60-7027-4969-bb7b-dc4f746a8da3%2FElianto-Regular.ttf?v=1635978969589);
}

body {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*Zig Zag Borders by Parvat Computer Technology: https://youtu.be/urYtvBmxMVE */
#zigzag{
  min-height: 500px;
  grid-column: 1 / 17;
  grid-row: 1 / 17;
}

.zigzag {
  min-height: 500px;
  grid-column: 1 / 17;
  grid-row: 1 / 17;
}

header {
  grid-column: 1 / 7;
  grid-row: 1 / 3;
  text-align: center;
  position: sticky;
}

nav {
  grid-column: 10 / 17;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  vertical-align: middle;
  line-height: 50%;
  position: sticky;
}
nav div {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
nav p {
  font-size: 17px;
  text-align: center;
}

nav a {
  font-size: 17px;
  width: 100%;
  height: 200%;
  vertical-align: middle;
  text-align: center;
}

main {
  grid-column: 1 / 17;
  grid-row: 3 / 15;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 100%;
}

/*put the main a class*/
/*main form{
  grid-column: 4 / 8;
  grid-row: 2 / 10;
  border: solid black 2px;
  margin: 50px;
  text-align: center;
}*/

.special {
  font-family: word;
}

#mainDiv {
  text-align: center;
  grid-column: 1 / 11;
  grid-row: 5 / 6;
}

#mainImage {
  width: 50%;
  margin-right: 80px;
}

#recipeFig {
  width: 95%;
  grid-column: 1 / 6;
  grid-row: 2 / 5;
}

#recipeImg {
  width: 100%;
  border-radius: 50px;
}

#orderOne {
  width: 100%;
  grid-column: 1 / 7;
  grid-row: 4 / 14;
}

#orderTwo {
  width: 100%;
  grid-column: 15 / 21;
  grid-row: 4 / 14;
}

#orderTwo img {
  margin-right: 0px;
}

#purchase {
  grid-column: 8 / 14;
  grid-row: 6 / 21;
  text-align: center;
}

#orderText {
  grid-column: 8 / 14;
  grid-row: 1 / 5;
  margin: 0px;
}

#orderText h1 {
  text-align: center;
  margin: 0px;
  width: 100%;
  display: block;
  margin-top: 5%;
  font-size: 55px;
  font-family: word;
}
.greenBorder {
  margin: 10px;
  width: 70%;
  height: 5%;
}

#orderTextAndPurchase {
  grid-column: 8 / 14;
  grid-row: 4 / 6;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}
.purchaseChoices {
  /*display: inline-block;*/
  text-align: left;
  margin-left: 75px;
  width: 40%;
}
#orderPrices {
  margin-left: 75px;
  margin-top: 10px;
  width: 70%;
  text-align: left;
}
#orderPrices p {
  padding: 5px 0px 5px 10px;
  margin: 0px;
  display: inline-block;
}
#mainOrder {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

#submitButton {
  width: 72%;
  text-align: center;
  padding: 15px 0px 35px 0px;
  font-weight: bold;
  font-size: 20px;
}

footer {
  grid-column: 1 / 17;
  grid-row: 15 / 17;
  position: sticky;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

h2,
a,
p,
figcaption {
  font-family: word;
}

.centerTop {
  text-align: center;
  grid-column: 5 / 7;
  grid-row: 1 / 3;
  font-size: 30px;
}

button {
  padding: 20px 50px 20px 50px;
}

#logoHead {
  grid-column: 7 / 10;
  grid-row: 1 / 3;
  width: 70%;
  height: 100%;
  position: sticky;
  padding-left: 100px;
}

#logoFoot {
  width: 40%;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#newsLetter {
  vertical-align: middle;
  width: 100%;
  text-align: center;
  grid-column: 5 / 5;
  grid-row: 2 / 3;
}

#switchDiv {
  width: 70%;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  text-align: center;
}

#switch {
  vertical-align: middle;
  width: 100%;
  max-width: 70px;
  text-align: center;
}

#navFoot {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
  width: 100%;
  text-align: center;
}

footer a {
  font-size: 13px;
}

footer p {
  font-size: 13px;
  margin-bottom: 0px;
  margin-top: 5%;
}

#recipeTable {
  text-align: center;
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

#artistTable {
  grid-column: 2 / 10;
  grid-row: 2 / 10;
  text-align: center;
}

.tableImg {
  width: 100%;
  max-width: 200px;
  text-align: center;
}

main video {
  grid-column: 1 / 6;
  grid-row: 2 / 6;
  width: 100%;
  max-width: 1000px;
  text-align: center;
  padding-left: 20px;
  border-radius: 30px;
}

.righty {
  grid-column: 7 / 10;
  grid-row: 2 / 9;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1em;
}

ol {
  grid-column: 4 / 5;
  grid-row: 5 / 6;
}

/*h1 inspired by CW Joe: https://youtu.be/Ot5bBiy1cb4 */
#l1 {
  font-family: warFont;
  font-size: 45px;
  padding: 0px;
  text-align: center;
  width: 100%;
  display: block;
}

/*#quizMain {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}*/

#quizMain form{
  width: 100%;
  height: 100%;
  grid-column: 4 / 8;
  grid-row: 3 / 10;
  background-color: beige;
  border: 2px solid rgb(0, 200, 20);
  border-radius: 20px;
}

.questionContainer{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

#quizStart {
  grid-column: 2 / 6;
  grid-row: 1 / 4;
  border-radius: 20px;
  text-align: center;
  padding-top: 150px;
}

#quizStart h2 {
  margin: 30px;
}

#quizStart p {
  margin: 10px;
  font-size: 30px;
  display: inline;
  padding: 10px;
  border: black solid 3px;
}

.questionImage{
  grid-column: 2 / 6;
  grid-row: 1 / 4;
}

.questionImage img{
  max-width: 500px;
  margin-left: 50px;
  width: 85%;
  height: 100%;
}

.question{
  grid-column: 1 / 7;
  grid-row: 4 / 5;
  text-align: center;
}

.topLeftQuestionStyle{
  grid-column: 1 / 4;
  grid-row: 5 / 6;
  text-align: center;
  padding: 10px;
}


.topRightQuestionStyle{
  grid-column: 4 / 7;
  grid-row: 5 / 6;
  padding: 10px;
}


.bottomLeftQuestionStyle{
  grid-column: 1 / 4;
  grid-row: 6 / 7;
  padding: 10px;
}



.bottomRightQuestionStyle{
  grid-column: 4 / 7;
  grid-row: 6 / 7;
  padding: 10px;
}

.quizInputStyle:hover{
  border: 5px solid lime;
}
.quizInputStyle:active{
  border: 5px solid rgb(0, 120, 0);
}
.quizInputStyle[value]{
  font-size: 30px;
  color: white;
  font-weight: bold;
  font-family: word;
}
.quizInputStyle{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.quizInputStyle:hover{
  background-color: rgb(20, 250, 40);;
}

#topLeftQuestion1 input{
  background-image: url("https://cdn.glitch.me/536f4a60-7027-4969-bb7b-dc4f746a8da3%2Fcloudy%20weather.jpg?v=1638468051184");
  background-size: 100%px;
}

#topRightQuestion1 input{
  background-image: url("https://cdn.glitch.me/536f4a60-7027-4969-bb7b-dc4f746a8da3%2Frainy%20day.jfif?v=1638467576054");
  background-size: 500px;
}

#bottomLeftQuestion1 input{
  background-image: url("https://cdn.glitch.me/536f4a60-7027-4969-bb7b-dc4f746a8da3%2Fsunny%20weather.PNG?v=1638467395935");
  background-size: 100%;
}

#bottomRightQuestion1 input{
  background-image: url("https://cdn.glitch.me/536f4a60-7027-4969-bb7b-dc4f746a8da3%2Fsnowy%20weather.jpg?v=1638465769646");
}

#bottomRightQuestion2 input{
  background-color: #32de84;
}
#bottomLeftQuestion2 input{
  background-color: #568203;
}
#topRightQuestion2 input{
  background-color: #17B169;
}
#topLeftQuestion2 input{
  background-color: #66FF00;
}

#bottomRightQuestion3 input{
  background-image: url("https://cdn.glitch.me/536f4a60-7027-4969-bb7b-dc4f746a8da3%2Fmidnight.PNG?v=1638471267473");
  background-size: 100%;
}
#bottomLeftQuestion3 input{
  background-image: url("https://cdn.glitch.me/536f4a60-7027-4969-bb7b-dc4f746a8da3%2Fdusk.PNG?v=1638471062089");
  background-size: 100%;
}
#topRightQuestion3 input{
  background-image: url("https://cdn.glitch.me/536f4a60-7027-4969-bb7b-dc4f746a8da3%2Fnoon.PNG?v=1638472032069");
  background-size: 100%;
}
#topLeftQuestion3 input{
  background-image: url("https://cdn.glitch.me/536f4a60-7027-4969-bb7b-dc4f746a8da3%2Fdawn.PNG?v=1638470542015");
  background-size: 100%;
}

.quizInputStyle2:hover{
  border: 5px solid lime;
}
.quizInputStyle2:active{
  border: 5px solid rgb(0, 120, 0);
}
.quizInputStyle2{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.quizInputStyle2[value]{
  font-size: 30px;
  color: white;
  font-weight: bold;
  font-family: word;
}

.quizInputStyle3{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.quizInputStyle3[value]{
  font-size: 10px;
  color: black;
  font-weight: bold;
  font-family: word;
}

.quizInputStyle3:hover{
  border: 5px solid lime;
}
.quizInputStyle3:active{
  border: 5px solid rgb(0, 120, 0);
}

#quizEnd {
  grid-column: 2 / 6;
  grid-row: 1 / 9;
  border-radius: 20px;
  text-align: center;
}

#quizEnd img{
  width: 60%;
}

#quizEnd p {
  margin: 10px;
  font-size: 25px;
  padding-bottom: 30px;
  color: black;
  text-align: center;
  font-weight: bold;
}

#black:hover{
  color: lime;
}

#black:active{
  color: green;
}

#black{
  color: black;
}
.righty table tbody tr td, .righty table thead tr td{
  padding: 100px;
}