/* a minimalist set of CSS resets */

body {
  display: grid;
  grid-template-columns: 15;
  grid-template-rows: 15;
}

header{
  grid-column: 6;
  grid-row: 6;
}

nav{
  grid-column: 6;
  grid-row: 7;
}

