/* a minimalist set of CSS resets */

body {
  display: grid;
  grid-template-columns: 4;
  grid-template-rows: 4;
}

header{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

nav{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

main{
  rid-column: 2 / 3;
  grid-row: 2 / 3;
}

